.categoriesList {
    list-style: none;
}
.categoryLi {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
}
.categoryLi:hover {
    background: #373737;
    color: white;
}
.categoryLi:active {
    background: white;
    color: black;
}

.active {
    background: #373737;
    color: white;
}