.navbar {

}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
}
.navbar ul li:hover {
    background: #373737;
    color: white;
}
.navbar ul li:active {
    background: white;
    color: black;
}